/*------------------------------------------------------------
slide
------------------------------------------------------------*/

.slide01{
    display: flex;
    justify-content: center;
    gap: 30px;

    &__item{
        display: flex;
        gap: 30px;
        animation: marquee 10s linear infinite;

        img{
            min-width: 204px;
            border-radius: 3px;
            filter: drop-shadow(0px 3px 5px rgba(30, 90, 159, 0.05));
        }
    }
}

@keyframes marquee{
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

/*
------------------------------------------------------------*/


.slide02{
    position: relative;

    .swiper-button-prev,
    .swiper-button-next{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #114178 url("/assets/img/common/icon/ic_arrow-white.svg") no-repeat center / contain;

        &::after{
            display: none;
        }
    }

    .swiper-button-next{
        right: -15px;
    }

    .swiper-button-prev{
        transform: rotate(180deg);
        left: -15px;
    }

    .swiper{
        margin: 0 calc(-1*(100vw - 1140px) / 2);

        @include max-w(1180px){
            margin: 0 -20px;
        }
    }

    .swiper-slide{
        max-width: 360px;

        @include sp{
            width: calc(100% - 40px);
        }

        .card01{
            &.is-white{
                margin: 10px 0;
            }
        }
    }
}

/*
------------------------------------------------------------*/

.slide03{
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__item{
        display: flex;
        justify-content: center;
        gap: 10px;

        img{
            min-width: 360px;
            border-radius: 3px;
            filter: drop-shadow(0px 3px 5px rgba(30, 90, 159, 0.05));

            @include sp{
                min-width: 335px;
            }
        }

        &:nth-child(odd){
            .slide03__list{
                animation: marquee 40s linear infinite;
            }
        }

        &:nth-child(even){
            .slide03__list{
                animation: marquee-revered 40s linear infinite;
            }
        }
    }

    &__list{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}



@keyframes marquee-revered{
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(50%);
	}
}