<section class="link">
    <div class="container">
        <h2 class="title01">Link</h2>
        <ul class="link__list">
            <li>
                <a href="">
                    <img src="/assets/img/common/elinksbnr_ibaraki_01.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/assets/img/common/organic_ibaraaki.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/assets/img/common/SAKE_Banner.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/assets/img/common/elinksbnr_ibaraki_rdtest.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/assets/img/common/elinksbnr_ibarakiguide.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/assets/img/common/elinksbnr_ibakira_02.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/assets/img/common/hitachiwagyu.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/assets/img/common/hitachinokagayaki.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/assets/img/common/elinksbnr_rosepork.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/assets/img/common/elinksbnr_jizakana.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/assets/img/common/renkon-channel.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/assets/img/common/elinksbnr_ibaraki-sense.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/assets/img/common/elinksbnr_ibarakimade.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/assets/img/common/digitalcatalog.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/assets/img/common/ibaraki_exports.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/assets/img/common/ringringroad.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/assets/img/common/ethical_ibaraki.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/assets/img/common/elinksbnr_nodai.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/assets/img/common/elinksbnr_ibaraki-airport.png" alt="">
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="ctbox">
    <div class="ctbox__wrap">
        <div class="container">
            <h2 class="title01">Contact Us <span>You can send us your comments or questions using the form below.</span></h2>
            <div class="btn01 is-contact">
                <a href="">Mail Form</a>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <a href="" class="footer__logo">
                <img src="/assets/img/common/logo.png" alt="">
            </a>
            <div class="footer__nav">
                <ul class="footer__list">
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">About Ibaraki</a>
                    </li>
                    <li>
                        <a href="">Premium Selections</a>
                    </li>
                    <li>
                        <a href="">Hitachi no Kuni Brand</a>
                    </li>
                    <li>
                        <a href="">Selected Specialites</a>
                    </li>
                </ul>
                <a href="" class="footer__contact"><span>Contact</span></a>
            </div>
            <p class="footer__copyright">Copyright ©Ibaraki Prefectural Government. All rights reserved.</p>
        </div>
    </div>
</footer>