<header id="header" class="header">
    <div class="header__wrap">
      <div class="header__top">
        <h1 class="header__logo">
          <a href="<%= url %>" class="header__logoImg">
            <img class="logo" src="/assets/img/common/logo.png" alt="">
          </a>
        </h1>
        <div class="header__toggle js-open-menu">
          <span>
            <span></span>
          </span>
          <span>Menu</span>
        </div>
      </div>
      <div id="menu" class="header__nav">
        <div class="header__navbar">
          <ul class="header__navMain">
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">About Ibaraki</a>
            </li>
            <li class="is-sub">
              <a href="">Premium Selections</a>
              <div class="header-sub">
                <ul class="header-sub__list">
                  <li>
                    <a href="">Chestnut</a>
                  </li>
                  <li>
                    <a href="">Pear</a>
                  </li>
                  <li>
                    <a href="">Melon</a>
                  </li>
                  <li>
                    <a href="">Hitachi no Kagayaki -Pork-</a>
                  </li>
                  <li>
                    <a href="">Hitachi Beef -wagyu-</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="is-sub">
              <a href="">Hitachi no Kuni Brand</a>
              <div class="header-sub">
                <ul class="header-sub__list">
                  <li>
                    <a href="">Ise Shrimp</a>
                  </li>
                  <li>
                    <a href="">Whitebait</a>
                  </li>
                  <li>
                    <a href="">Mallard</a>
                  </li>
                  <li>
                    <a href="">Chub mackerel</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="is-sub">
              <a href="">Selected Specialites</a>
              <div class="header-sub">
                <ul class="header-sub__list">
                  <li>
                    <a href="">Sweet Potato</a>
                  </li>
                  <li>
                    <a href="">Hoshiimo</a>
                  </li>
                  <li>
                    <a href="">Lotus root</a>
                  </li>
                  <li>
                    <a href="">Strawberry</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <a href="" class="header__contact">
            <span><span>Contact</span></span>
          </a>
        </div>
      </div>
    </div>
</header>