/* layout
------------------------------------------------------------*/
body {
  position: relative;
  overflow-x: hidden;
  font-size: 1.7rem;
  line-height: 1.95;
  letter-spacing: 0.03em;
  color: #243D59;
  @include Noto;
  background: #E7EBF4;

  @include sp{
    padding-bottom: 60px;
  }
}

//-------------------------------------------------------
main {
  overflow: hidden;
}

//-------------------------------------------------------

.container {
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}

//-------------------------------------------------------

a[href^="tel:"] {
  pointer-events: none;

  @include tab{
    pointer-events: inherit;
  }
}

//-------------------------------------------------------