<section class="ctbox">
    <div class="container">
        <h2 class="title01 is-center">
            <span class="title01__en">Contact</span>
            <span class="title01__jp">お問い合せ</span>
        </h2>
        <div class="ctbox__gr">
            <div class="ctbox__item">
                <h3 class="ctbox__label">お電話でのお問い合せ</h3>
                <div class="ctbox__phone">
                    <div class="number"><span>TEL.</span>029-282-3535</div>
                    <div class="info">
                        <span><span>営業時間</span>9:00～17:00</span>
                        <span><span>定休日</span>土曜・日曜・祝日</span>
                    </div>
                </div>
            </div>
            <div class="ctbox__item">
                <h3 class="ctbox__label">メールでのお問い合せ</h3>
                <div class="btn03">
                    <a href="">メールフォームはこちら</a>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__info">
                <a href="" class="footer__logo">
                    <img src="/assets/img/common/ft_logo.png" alt="">
                </a>
                <p class="footer__address"><span>本社</span>〒319-1112 <br>茨城県那珂郡東海村村松405</p>
            </div>
            <div class="footer__nav">
                <ul class="footer__list">
                    <li>
                        <a href="">HOME</a>
                    </li>
                    <li>
                        <a href="">事業・商品紹介</a>
                        <ul class="footer__sub">
                            <li>
                                <a href="">オートドア</a>
                            </li>
                            <li>
                                <a href="">受託設計</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">関東技研の強み</a>
                        <ul class="footer__sub">
                            <li>
                                <a href="">設備紹介</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="footer__list">
                    <li>
                        <a href="">実績紹介</a>
                    </li>
                    <li>
                        <a href="">採用情報</a>
                        <ul class="footer__sub">
                            <li>
                                <a href="">数字で知る関東技研</a>
                            </li>
                            <li>
                                <a href="">仕事紹介</a>
                            </li>
                            <li>
                                <a href="">福利厚生・教育制度</a>
                            </li>
                            <li>
                                <a href="">募集要項</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="footer__list">
                    <li>
                        <a href="">会社情報</a>
                    </li>
                    <li>
                        <a href="">最新情報</a>
                    </li>
                    <li>
                        <a href="">プライバシーポリシー</a>
                    </li>
                    <li>
                        <a href="">お問い合せ</a>
                    </li>
                </ul>
            </div>
            <p class="footer__copyright">©KANTOGIKEN.CO.LTD.</p>
        </div>
    </div>
</footer>