<header id="header" class="header">
    <div class="header__wrap">
      <div class="header__top">
        <h1 class="header__logo">
          <a href="<%= url %>" class="header__logoImg">
            <img class="logo" src="/assets/img/common/logo.png" alt="">
          </a>
        </h1>
        <div class="header__toggle js-open-menu">
          <span>
            <span></span>
          </span>
        </div>
      </div>
      <div id="menu" class="header__nav">
        <div class="header__navbar">
          <ul class="header__navMain">
            <li>
              <a href="">
                <span class="pc-only">HOME</span>
                <span class="tab-only">ホーム</span>
              </a>
            </li>
            <li class="is-sub">
              <a href=""><span>事業・商品紹介</span></a>
              <div class="header-sub">
                <ul class="header-sub__list">
                  <li>
                    <a href="">数字でわかる関東技研</a>
                  </li>
                  <li>
                    <a href="">仕事紹介</a>
                  </li>
                  <li>
                    <a href="">福利厚生・教育制度</a>
                  </li>
                  <li>
                    <a href="">募集要項</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="is-sub">
              <a href=""><span>関東技研の強み</span></a>
              <div class="header-sub">
                <ul class="header-sub__list">
                  <li>
                    <a href="">数字でわかる関東技研</a>
                  </li>
                  <li>
                    <a href="">仕事紹介</a>
                  </li>
                  <li>
                    <a href="">福利厚生・教育制度</a>
                  </li>
                  <li>
                    <a href="">募集要項</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="is-sub">
              <a href=""><span>実績紹介</span></a>
              <div class="header-sub">
                <ul class="header-sub__list">
                  <li>
                    <a href="">数字でわかる関東技研</a>
                  </li>
                  <li>
                    <a href="">仕事紹介</a>
                  </li>
                  <li>
                    <a href="">福利厚生・教育制度</a>
                  </li>
                  <li>
                    <a href="">募集要項</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="is-sub">
              <a href=""><span>採用情報</span></a>
              <div class="header-sub">
                <ul class="header-sub__list">
                  <li>
                    <a href="">数字でわかる関東技研</a>
                  </li>
                  <li>
                    <a href="">仕事紹介</a>
                  </li>
                  <li>
                    <a href="">福利厚生・教育制度</a>
                  </li>
                  <li>
                    <a href="">募集要項</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href=""><span>会社情報</span></a>
            </li>
          </ul>
          <div class="header__group">
              <ul>
                <li>
                  <a href="" class="is-download"><span>資料ダウンロード</span></a>
                </li>
                <li>
                  <a href="" class="is-contact"><span>お問い合せ</span></a>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
</header>

<div class="anchor-group">
  <div class="anchor-group__btn">
    <a href="" class="is-download"><span><span>download</span></span></a>
  </div>
  <div class="anchor-group__btn">
    <a href="" class="is-contact"><span><span>contact</span></span></a>
  </div>
</div>